body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #4dc08e;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
  margin-right: 10px;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;

}
.logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}
.logo a {
  color: #222222;
}
.logo a span {
  color: #4dc08e;
 }

.section-title h1 {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #4dc08e;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h2 {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #4dc08e;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}
.section-title h3 {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #4dc08e;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}
.section-title h3 span {
  color: #4dc08e;
}
.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

#topbar{
	background: #4dc08e;
	color: #fff;
	height: 40px;
	padding: 0;
}




  /*-----------------------------------NAVBAR-------------------------------------*/
#table-css {
	border: 2px;
	width: 75%;
}
#table-css td {
	padding-top: 25px;
}
.navbar {
  padding: 0;
  margin-right: 0px;
  color: black;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 17px;
  font-weight: 600;
  color: #222222;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #4dc08e;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar  {
  visibility: visible;
  width: 100%;
}
.navbar a:hover, .navbar, .navbar, .navbar li:hover > a {
  color: #4dc08e;
}

/*--------------------------------- TEAM ----------------------------------- */

.img-circle{

	border-radius: 50%;
}

/*--------------------------------- FOOTER ----------------------------------- */

.footer{
  padding: 40px 0;
  background-color: #ffffff;
}

.footer-col{
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #A9A9A9;
  text-align: capitalize;
  margin-bottom: 30x;
  font-weight: 400;
  position: relative;
}

.footer-col h4::before{
content: '';
position: absolute;
left: 0;
bottom: -10px;
background-color: #228B22;
height: 2px;
box-sizing: border-box;
width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #a9a9a9;
  text-decoration: none;
  font-weight: 300;
  color: #228B22;
  display: block;
  
}

.footer-col ul li a: hover{
  color: #a9a9a9;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  width:  40px;
  height: 40px;
  background-color: #008000;
  margin: 0 8px 8px 0;
  text-align: center;
  line-height:  38px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
  }

.footer-col .social-links a:hover{
color: #008000;
background-color: #ffffff;

}

  .footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #A9A9A9;
  }

}