
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI';
  background-color: #A9A9A9;
}

.container{
  max-width: 1170px;
  margin: auto;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

ul{
  list-style: none;
}

.footer{
  padding: 40px 0;
  background-color: #ffffff;
}

.footer-col{
  width: 25%;
  padding: 0 15px;
}

.footer-col h4{
  font-size: 18px;
  color: #A9A9A9;
  text-align: capitalize;
  margin-bottom: 30x;
  font-weight: 400;
  position: relative;
}

.footer-col h4::before{
content: '';
position: absolute;
left: 0;
bottom: -10px;
background-color: #228B22;
height: 2px;
box-sizing: border-box;
width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #a9a9a9;
  text-decoration: none;
  font-weight: 300;
  color: #228B22;
  display: block;
  
}

.footer-col ul li a: hover{
  color: #a9a9a9;
  padding-left: 8px;
}

.footer-col .social-links a{
  display: inline-block;
  width:  40px;
  height: 40px;
  background-color: #008000;
  margin: 0 8px 8px 0;
  text-align: center;
  line-height:  38px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.3s ease;
  }

.footer-col .social-links a:hover{
color: #008000;
background-color: #ffffff;

}

  .footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #A9A9A9;
  }
